/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */
html {
  background: #57666D url(/assets/midbg.gif) 0 0 repeat !important;
}

body {
  background: transparent url(/assets/navbg-t.png) 0 0 repeat-x !important;
}

nav {
  float: right;
}

.label.notice {
  background-color: #5da423;
  color: #fff;
}

h1 a {
  font-family: 'Leckerli One', cursive !important;
  font-size: 1.2em;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-color: #2ba6cb;
  -webkit-text-stroke-width: 1px;
  text-fill-color: #fff;
  text-stroke-color: #2ba6cb;
  text-stroke-width: 1px;
}

nav.subheader {
  color: #fff;
  margin-top: 20px;
}

nav em {
  margin-right: 10px;
}

ul, li {
  list-style-type: none;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
