// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image img { height:200px }
.product_description 
		     {
			background-color:#dddddd;
		     }
.product_description li
		     {
			margin-left:20px;
			text-indent:0px;
			font-size:90%;
		     }

.product_more_info li
		   {
		   margin-left:30px;
		   text-indent:10px;
		   list-style-type: none;
		   }

.product_price p
	       {
	       font-color:'blue';
	       }