// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product img {
  width:200px
}

.product_description_header strong {
  font-weight: boulder;
}

.product_description {
  background-color: #ddd;
}

.product_description li {
  margin-left: 20px;
  text-indent: 0px;
  font-size: 90%;
}

.product_more_info li {
		     margin-left:30px;
		     text-indent:10px;
		     list-style-type: none;
		     }

.product_price p {
	       font-color:'blue';
	       }

.product_list {
	      background-color: #ddd;
	      }

.product_list ul {
	        font-size:200%;
		}
.product_list img {
	      width:50px}

.even {
  background: #fafafa;
}

#productlist .small-1 {
  display: -webkit-flex;
  display: flex;
  min-height: 105px;
}

#productlist .small-1 a {
  -webkit-align-self: center;
  align-self: center;
  margin: 0;
}
